h2{
    color: rgb(45, 91, 65)
}
span{
    color: rgb(165, 120, 62);
}
.card{
    width: 400px;
    height: 60%;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.514);
}
img{
    width: 100%;
    /* padding: 5px; */
    /* margin:5px auto; */
    border-radius: 20px;
    /* align-self: center; */
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
h4{
    color: red;
    /* display: flex;
    justify-content: flex-end; */
    text-align: end;
}
@media (max-width:375px){
    #pets{
        flex-wrap: wrap;
    }
}
.card:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
body {
    background: linear-gradient(to right, rgba(123, 156, 66, 0.797), rgba(163, 242, 163, 0.692));
}